.BuildControl {
    display : flex;
    justify-content: space-between;
    align-items : center;
    margin: 8px 0;
}

.BuildControl button{
    display : block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #FF859E;
    cursor : pointer;
    outline: none;
}


.BuildControl button:disabled {
    background-color: #8a6c72;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #5e4449;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: #FF859E;
    color: #3D2A35;
}

.BuildControl .More {
    background-color: #FF859E;
    color: #3D2A35;
    margin-left: 10px;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #f897b3;
    color: #3D2A35;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #ff4d70;
    color: #3D2A35;
}